.pokemonItem {
  background-color:rgba(255, 255, 255 ,.8);
  font-family: 'arial';
  border-radius: 10px;
  margin-bottom: 5px;
  list-style:none;
  width: 100%;
  animation: .5s list;
}
.pokemonItem li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.pokemonItem:hover{
  background-color: lightblue;
}
@keyframes list {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
